
<div class="top-header">
  <article class="top-bar">
    <menu id="headerMenu">
      <li><a href="/user/login">로그인</a></li>
      <li><a href="/user/login">회원가입</a></li>
    </menu>
  </article>
  <header id="header">
    <section>
      <div class = "header-bar">
        <div>
          <h1><a href="/products"><img src= "image/header/logo.png"></a></h1>
        </div>
        <div class="icon-box">
          <a href="/user/login" class="icon-item"><img class="my-icon" src="image/header/mypage-icon.png"><span class="my-title">마이일좀</span></a>
          <a href="/user/login" class="icon-item"><img class="my-icon" src="image/header/cart.png"><span class="my-cart">장바구니</span></a>
        </div>
      </div>
      </div>
    </section>
  </header>

</div>

